
@{
    ViewBag.Title = "Aboutus";
    Layout = "~/Views/Shared/_LayoutWeb.cshtml";
}

<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">VỀ CHÚNG TÔI</h2>
        <h3 class="section-subheading text-muted">Chúng tôi nỗ lực vì bạn.</h3>
        <br/><br/>
    </div>
    <ul class="timeline">
        <li>
            <div class="row" style="margin-top:50px">
                <div class="col-lg-4"><img class="rounded-circle img-fluid" src="~/Content/img/details/hinh1.jpg" style="width:200px;height:200px" alt="" /></div>
                <div class="col-lg-8">
                    <div class="timeline-heading">
                        <h4>Tháng 2 - 2021</h4>
                        <h4 class="subheading">Trở Thành Founder</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Khi được tiếp xúc với các cửa hàng nước uống. Chúng tôi thấy đây là một thị trường tiềm năng để khởi nghiệp và phát triển, từ đó lên kế hoạch để trở thành nhà cung cấp nguyên vật liệu đứng đầu Việt Nam </p></div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="row" style="margin-top:50px">
                <div class="col-lg-8">
                    <div class="timeline-heading">
                        <h4>Tháng 3 - 2021</h4>
                        <h4 class="subheading">"Minishop"</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Để nuôi dưỡng đam mê và cùng san sẻ niềm đam mê nhỏ, chúng tôi đã mở một minishop có rất ít sản phẩm để kinh doanh nhưng đủ để chúng tôi thõa mãn đam mê!</p></div>
                </div>
                <div class="col-lg-4"><img class="rounded-circle img-fluid" src="~/Content/img/details/hinh2.jpg" style="width:200px;height:200px" alt="" /></div>

            </div>
        </li>
        <li>
            <div class="row" style="margin-top:50px">
                <div class="col-lg-4"><img class="rounded-circle img-fluid" src="~/Content/img/details/hinh3.jpg" style="width:200px;height:200px" alt="" /></div>
                <div class="col-lg-8">
                    <div class="timeline-heading">
                        <h4>Tháng 5 - 2021</h4>
                        <h4 class="subheading">Ổn Định-Phát Triển</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Trải qua nhiều thăng trầm, chúng tôi hiểu được đâu là điểm mạnh để phát triển, đâu là điểm yếu để khắc phục củng cố. Sau vài tháng vận hành, chúng tôi đã có được niềm tin của khách hàng, dần dần trở nên một cửa hàng có uy tín, chất lượng!</p></div>
                </div>
            </div>
        </li>
        <li class="timeline-inverted">
            <div class="row" style="margin-top:50px">
                <div class="col-lg-8">
                    <div class="timeline-heading">
                        <h4>Tháng 6 - 2021 đến hôm nay</h4>
                        <h4 class="subheading">Hôm Nay-Tương Lai</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Từng bước phát triển, chúng tôi đã trở thành nhà phân phối các nguyên vật liệu pha chế chính hãng có trụ sở chính tại TP.HCM và trong tương lai, chúng tôi sẽ phát triển sang các thị trường khác</p></div>
                </div>
                <div class="col-lg-4"><img class="rounded-circle img-fluid" src="~/Content/img/details/hinh4.jpg" style="width:200px;height:200px" alt="" /></div>

            </div>
        </li>
        
    </ul>
</div>
<br/>
<div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">ĐỘI NGŨ</h2>
        <h3 class="section-subheading text-muted">Chúng tôi không chỉ là một đội ngũ, chúng tôi là một gia đình.</h3>
        <br/>
        <br/>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="team-member" style="text-align:center">
                <img class="mx-auto rounded-circle" src="~/Content/img/details/bao.jpg" style="width:200px;height:200px" alt="" />
                <h4>Quốc Bảo</h4>
                <p class="text-muted">CEO & Founder</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="team-member" style="text-align:center">
                <img class="mx-auto rounded-circle" src="~/Content/img/details/minh.png" style="width:200px;height:200px" alt="" />
                <h4>Hoàng Minh</h4>
                <p class="text-muted">Manager Store</p>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
        </div>
    </div>
    
</div>
<br/>
<br/>

